
.DS_Store
.idea/
*.pyc
*.tar
**/interaction*
*.ds
grid_search/07-03_new/
grid_search/07-02/
grid_search/results_07-03_new.csv
grid_search/results_07-02.csv
*.tar
previous_dataset_generation_code/dataset.py
store_running_HPC3_code/dataset.py
store_running_HPC3_code/train.py
testing_stuff.ipynb
analysis/quali_(5,4)_standard_\[2. 2. 1. 3. 1.\],\[1. 0. 1. 0. 0.\].csv
analysis_qualitative_rowan.ipynb
analysis_rowan.ipynb
evaluate_metrics copy 2.ipynb
evaluate_metrics copy.ipynb
sunburst_plot_condition_0.html
sunburst_plot_condition_1.html
sunburst_plot_condition_2.html
evaluate_metrics_copy.ipynb

3dshapes/
dataset/
dataset/complete_dataset
dataset/feat_rep_concept_dataset
dataset/feat_rep_zero_concept_dataset
dataset/image_concept_dataset
.idea/emergent-abstractions.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.vscode/launch.json

idelpozo@hpc3.rz.uos.de